@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --primary-color: #b30e0e;
  --secondary-color: #193a80;
  --title-color: #3e4657;
  --description-color: rgba(26,26,26,.5);
  --meta-color: #1d1c1c;
  --desable-color: rgba(26,26,26,.5);
  --background-color: #193a7f;
  --border-color: #e8e8e8;
  --yellow-color:rgb(228, 210, 47);
  --yellow-light:rgba(255, 255, 255, 0.555);
  --ash-color: #f4f4f4ea;
  --white-color: #ffffff;
  --black-color: #000000;
  --body-color: rgb(0, 0, 0);
  --body-font: "Poppins", sans-serif;
  --heading-font: "Anton", sans-serif;
  --regular: 400;
  --medium: 500;
  --bold: 600;
  --z-10: 10;
  --z-100: 100;
  --z-999: 999;
  --normal-font-size: 1rem;
  --small-font-size: 0.895rem;
  --smaller-font-size: 0.875rem;
}
@media screen and (max-width: 992px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.775rem;
  }
}

*::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--white-color);
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  background-color: var(--body-color);
}

a {
  text-decoration: none;
}

textarea,
input {
  border: none !important;
  outline: none !important;
}

.color-primary {
  color: var(--primary-color) !important;
}

.bg-primary {
  background-color: var(--primary-color);
}

.btn {
  font-weight: var(--bold);
  color: var(--white-color);
  padding: 16px 12px;
  background: var(--primary-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer !important;
  transition: all 0.6s ease;
}
.btn:hover {
  background-color: #860606fb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800 !important;
}

.d-none {
  display: none;
}

.my-pp {
  width: 40px;
  height: 40px;
  background-color: #fff !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
}
.my-pp:hover {
  outline: 4px solid rgba(0, 0, 0, 0.281);
}
.my-pp img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.my-pp,
.navbar-nav .nav-item {
  cursor: pointer;
}

input:disabled,
button:disabled,
.btn:disabled {
  background-color: #555;
  color: #ffff;
}

.bg-white {
  background: var(--white-color);
}

.modal-content {
  background: var(--meta-color);
}

.account-set-btns button {
  padding: 10px;
  border-radius: 4px;
  color: var(--white-color);
  border: none;
}
.account-set-btns button:first-child {
  background-color: var(--primary-color);
  transition: all 0.6s ease;
}
.account-set-btns button:first-child:hover {
  background-color: #b30e0ebd;
}
.account-set-btns button:last-child {
  background-color: var(--black-color);
  transition: all 0.6s ease;
  position: absolute;
  top: -56px;
  right: 28px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
}
.account-set-btns button:last-child svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.account-set-btns button:last-child:hover {
  background-color: var(--primary-color);
}

.search-sug .card {
  background-color: rgba(0, 0, 0, 0.432);
  padding: 30px 25px;
  border-radius: 8px;
}
.search-sug .card:hover {
  background-color: rgba(0, 0, 0, 0.26);
}
.search-sug .card .card-text {
  font-size: 10px;
}
.search-sug a {
  color: var(--white-color);
}
.search-sug img {
  width: 350px;
  height: 130px;
}
@media (min-width: 992px) {
  .search-sug .card-body {
    margin-left: 15px;
  }
}

.search-sug-thum {
  position: relative;
  cursor: pointer;
}
.search-sug-thum .search-sug-thum-play {
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.6s ease;
  z-index: 99;
}
.search-sug-thum .search-sug-thum-play svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}
.search-sug-thum:hover .search-sug-thum-play {
  opacity: 1;
}
.search-sug-thum::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.6s ease;
}
.search-sug-thum:hover::before {
  opacity: 0.5;
}

.flex {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.jcse {
  justify-content: space-evenly;
}

.aic {
  align-items: center;
}

.colum {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.tac {
  text-align: center;
}

.tae {
  text-align: end;
}

.tas {
  text-align: start;
}

.w100 {
  width: 100%;
}

.px-196 {
  padding-left: 196px;
  padding-right: 196px;
}

.m-auto {
  margin: auto;
}

.all-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-first {
  order: -1 !important;
}

.order-0 {
  order: 0 !important;
}

.order-1 {
  order: 1 !important;
}

.order-2 {
  order: 2 !important;
}

.order-3 {
  order: 3 !important;
}

.order-4 {
  order: 4 !important;
}

.order-5 {
  order: 5 !important;
}

.order-last {
  order: 6 !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-1 {
  margin-right: 0.25rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.me-4 {
  margin-right: 1.5rem !important;
}

.me-5 {
  margin-right: 3rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.ms-4 {
  margin-left: 1.5rem !important;
}

.ms-5 {
  margin-left: 3rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.pe-3 {
  padding-right: 1rem !important;
}

.pe-4 {
  padding-right: 1.5rem !important;
}

.pe-5 {
  padding-right: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.ps-5 {
  padding-left: 3rem !important;
}

.font-monospace {
  font-family: var(--bs-font-monospace) !important;
}

.fs-1 {
  font-size: calc(1.375rem + 1.5vw) !important;
}

.fs-2 {
  font-size: calc(1.325rem + 0.9vw) !important;
}

.fs-3 {
  font-size: calc(1.3rem + 0.6vw) !important;
}

.fs-4 {
  font-size: calc(1.275rem + 0.3vw) !important;
}

.fs-5 {
  font-size: 1.25rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}

.relative {
  position: relative;
}

.underline {
  text-decoration: underline;
}

.service-card {
  width: 311px !important;
  background: #000000;
  border: 2px solid #b30e0e;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 5px;
}

.service-card .title {
  background: var(--primary-color);
  position: relative;
  padding: 20px 10px;
}

.service-card .title h3 {
  color: var(--white-color);
  text-align: center;
}

.service-card .title .btn {
  position: absolute;
  width: 126px;
  height: 30px;
  top: 101%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-card ul {
  list-style: none;
  margin-top: 20px;
}

.service-card ul li {
  color: white;
  padding: 15px 10px;
  font-size: var(--smaller-font-size);
}

@media (max-width: 767.98px) {
  .service-card ul li {
    font-size: 10px;
  }
}
.service-card .btn {
  width: 126px;
  height: 30px;
}

.service-card .down-btn {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-y {
  background: #fcc915;
}

.bg-g {
  background: #c9c9c9;
}

.main-footer {
  width: 100%;
  height: 80px;
  background-color: var(--primary-color);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

@media (max-width: 575.98px) {
  .main-footer {
    display: none;
  }
}
.main-footer .nav-link {
  color: var(--white-color) !important;
  font-weight: var(--regular);
  font-size: var(--small-font-size);
}

.main-footer .nav-link .bi {
  width: 27px;
  height: 27px;
  padding: 6px;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--primary-color);
}

.mob-nav {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: yellow;
  z-index: 9999;
  display: none;
}

@media (max-width: 575.98px) {
  .mob-nav {
    display: block;
  }
}
.mob-nav ul {
  list-style: none;
  display: flex;
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
}

.mob-nav ul li > a {
  color: var(--white-color);
  transition: all 0.3s ease;
}
.mob-nav ul li > a:hover {
  color: #cfcfcf;
}

.main-nav {
  width: 100%;
  height: 80px;
  background: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

@media (max-width: 575.98px) {
  .main-nav {
    display: none;
  }
}
.navbar-brand {
  padding: 5px;
}
.navbar-brand img {
  width: 55px;
}

.main-nav .nav-link {
  color: var(--white-color) !important;
  font-weight: var(--bold);
  font-size: var(--small-font-size);
}

.main-nav .fa-user {
  width: 27px;
  background: var(--white-color);
  border-radius: 50%;
  padding: 6px 7px;
  color: var(--title-color);
}

.main-nav .dropstart .dropdown-menu[data-bs-popper] {
  top: 57px;
  right: -10px;
  background-color: var(--white-color);
  height: 183px;
}

.main-nav .dropdown-item {
  color: #030303;
  font-weight: 600;
  padding: 0.45rem 1.99rem;
}

.main-nav .dropdown-menu {
  height: 150px;
  width: 225px;
  position: relative;
}
.main-nav .dropdown-menu ::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--white-color);
  top: -9px;
  left: 187px;
  transform: rotate(45deg);
  z-index: -1;
}

.main-nav .dropdown-divider {
  border-top: 2px solid white;
}

.mob-nav-offcanvas .navbar-nav {
  font-size: 20px;
  font-weight: var(--bold);
  z-index: 9999;
  padding-left: 30px;
}

.mob-nav-offcanvas h1 a {
  color: var(--white-color);
  margin-top: 20px;
  user-select: none;
  transition: all 0.2s ease-in;
}

.mob-nav-offcanvas h1 a:hover {
  color: #d1d1d1 !important;
}

.mob-nav-offcanvas ul li a {
  color: var(--white-color);
  position: relative;
  transition: all 0.2s ease-in;
}
.mob-nav-offcanvas ul li a:hover {
  color: #cfcfcf;
}

.main-footer {
  width: 100%;
  height: 80px;
  background-color: var(--meta-color);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

@media (max-width: 575.98px) {
  .main-footer {
    display: none;
  }
}
.main-footer .nav-link {
  color: var(--white-color) !important;
  font-weight: var(--regular);
  font-size: var(--small-font-size);
  transition: all 0.3s ease-in;
}

.main-footer .nav-link .bi {
  width: 27px;
  height: 27px;
  padding: 6px;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--black-color);
  transition: all 0.1s ease-in;
}
.main-footer .nav-link .bi:hover {
  color: rgba(0, 0, 0, 0.671);
}

.slyder-area {
  width: 90%;
  background: var(--body-color);
  z-index: 1;
  position: relative;
  margin: 100px auto;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 8px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--white-color);
  width: calc(var(--swiper-navigation-size) / 44 * 90);
  width: 65px;
  background: rgba(0, 0, 0, 0.288);
  height: 79px;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.473);
}

@media (max-width: 767.98px) {
  .swiper-button-next,
.swiper-button-prev {
    width: calc(var(--swiper-navigation-size) / 44 * 60);
  }
}
.main-body .banner {
  width: 100%;
  height: 1000px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.404), black), url(../images/Banner/FeaturedBanner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 575.98px) {
  .main-body .banner {
    display: none;
  }
}
.main-body .banner .banner-dis {
  position: absolute;
  bottom: 0;
  left: -31px;
  width: 100%;
  height: 227px;
  margin-left: 100px;
}

@media (max-width: 767.98px) {
  .main-body .banner .banner-dis {
    margin-left: 50px;
  }
}
.main-body .banner .banner-dis h1 {
  font-size: 6rem;
  font-weight: 900;
  color: var(--white-color);
  font-family: var(--heading-font);
}

@media (max-width: 767.98px) {
  .main-body .banner .banner-dis h1 {
    font-size: 3rem;
  }
}
.main-body .banner .banner-dis p {
  font-size: var(--smaller-font-size);
  font-weight: var(--regular);
}

.main-body .banner .banner-dis .btns {
  display: flex;
  justify-content: start;
}

.main-body .banner .banner-dis .btn {
  width: 110px;
  font-size: var(--smaller-font-size);
  font-weight: var(--bold);
  cursor: pointer !important;
}

.main-body .banner .banner-dis .btn:last-child {
  background-color: var(--white-color);
  color: var(--black-color);
  cursor: pointer !important;
}
.main-body .banner .banner-dis .btn:last-child:hover {
  background-color: rgba(255, 255, 255, 0.61);
}

.main-body .banner .banner-dis .btn:first-child {
  background-color: var(--primary-color);
}

.main-body .banner .banner-dis .btn:first-child:hover {
  color: var(--white-color);
  background-color: rgba(189, 12, 12, 0.699);
}

.signin-page-main {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black), url(../images/Banner/formbanner.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.signin-page-main .header {
  padding: 10px 22px;
}

.signin-page-main .header .logo svg {
  width: 40px;
  height: 40px;
}

@media (min-width: 992px) {
  .signin-page-main .header .logo svg {
    width: 65px;
    height: 65px;
  }
}
.signin-page-main .header .btn {
  width: 107px;
  height: 46px;
  padding: 12px 12px;
  font-size: var(--normal-font-size);
  margin: 9px 0;
  border-radius: 4px;
}

.signin-page-main .header .btn:hover {
  color: var(--white-color);
}

@media (max-width: 991.98px) {
  .signin-page-main .header .btn {
    width: 82px;
    height: 38px;
    margin: 7px 0;
    border-radius: 5px;
  }
}
.signin-page-main .banner {
  height: 100%;
}

.signin-page-main .banner h1 {
  text-align: center;
  line-height: 140%;
  padding-top: 70px;
  padding-bottom: 30px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .signin-page-main .banner h1 {
    font-size: var(--normal-font-size);
  }
}
.signin-page-main .banner h1 span {
  color: var(--black-color);
  text-shadow: 0 2px #ffffff, -1px 0px #ffffff, 2px 2px #ffffff;
}

.signin-page-main .banner p {
  color: var(--white-color);
  text-align: center;
  font-size: var(--smaller-font-size);
  margin: 13px;
}

.signin-page-main .banner input {
  background: var(--white-color);
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  padding-left: 25px;
  color: #0a0909;
}

@media (max-width: 575.98px) {
  .signin-page-main .banner input {
    font-size: var(--smaller-font-size);
  }
}
.signin-page-main .banner .btn {
  border-radius: 22px;
  border: none;
  outline: none;
  padding: 12px 20px;
}

@media (max-width: 575.98px) {
  .signin-page-main .banner .btn {
    font-size: var(--smaller-font-size);
  }
}
.signin-page-main .banner .input-group {
  max-width: 714px;
  margin: auto;
}

.signin-page-main .banner .con-btn {
  display: flex;
  justify-content: center;
  line-height: 78px;
  transition: all 0.5s ease;
}
.signin-page-main .banner .con-btn a {
  font-weight: var(--bold);
  text-decoration: underline;
  color: var(--white-color);
  font-size: 20px;
}
@media (max-width: 991.98px) {
  .signin-page-main .banner .con-btn a {
    font-size: 14px;
  }
}
.signin-page-main .banner .con-btn a:hover {
  color: var(--primary-color);
}

.signin-page-main a:hover {
  color: #ffff;
}

.signin-page-con .input-group input {
  padding: 22px;
  border: none !important;
  outline: none !important;
  font-weight: var(--bold);
}
@media (max-width: 767.98px) {
  .signin-page-con .input-group input {
    padding: 15px;
  }
}

.signin-main {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black), url(../images/Banner/formbanner.png);
  height: 100vh;
  overflow-y: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signin-main .header {
  padding-top: 26px;
  padding-left: 22px;
  padding-bottom: 26px;
}

@media (min-width: 1400px) {
  .signin-main .header {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1399.98px) {
  .signin-main .header {
    padding-top: 22px;
    padding-left: 22px;
    padding-bottom: 40px;
  }
}
.signin-main .header .logo {
  width: 75px;
  height: 29px;
}

@media (min-width: 1400px) {
  .signin-main .header .logo {
    width: 211px;
    height: 86px;
  }
}
@media (min-width: 768px) and (max-width: 1399.98px) {
  .signin-main .header .logo {
    width: 100px;
    height: 47px;
  }
}
.signin-main .form {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 13px;
  padding: 60px 80px 60px 80px;
  margin: auto;
  box-shadow: 1px 0px 8px var(--white-color);
}

@media (max-width: 767.98px) {
  .signin-main .form {
    box-shadow: none;
    padding: 26px;
  }
}
.signin-main .form form {
  width: 100%;
}

.signin-main .form .form-control {
  padding: 15px;
}

.signin-main .form .btn {
  width: 100%;
  border-radius: 4px;
  margin-top: 50px;
}

@media (max-width: 575.98px) {
  .signin-main .form .btn {
    margin-top: 30px;
  }
}
.signin-main .form .form-check {
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.signin-main .form .form-check-label {
  color: #817e7e;
  padding: 4px;
}

.signin-main .form a {
  color: #817e7e;
}

.signin-main .form .check-pare {
  margin-top: 15px;
}

@media (max-width: 575.98px) {
  .signin-main .form .check-pare {
    margin-top: 7px;
  }
}
@media (max-width: 767.98px) {
  .signin-main {
    background: black;
  }
}
.py-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.signup-pos {
  width: 100%;
  height: 20px;
  margin: 70px auto;
  position: relative;
}

.signup-pos a > span {
  position: absolute;
  font-weight: 600;
  top: 2px;
  left: 24px;
  font-size: var(--smaller-font-size);
}

.bg-gray {
  color: #817e7e;
}

.bg-gray a {
  color: var(--white-color) !important;
}

.mt-20 {
  margin-top: 25px;
}

.forget-pass .form {
  width: 600px;
  height: 650px;
}

.forget-pass p {
  font-size: var(--smaller-font-size);
}

.loginto-dgtv {
  background-color: #0606078f;
}

@media (max-width: 767.98px) {
  .loginto-dgtv {
    background: black;
  }
}
.loginto-dgtv .dg-sign {
  position: absolute;
  top: 15px;
  right: 12px;
  color: var(--description-color);
}

@media (max-width: 767.98px) {
  .loginto-dgtv .dg-sign {
    top: -139px;
    right: 18px;
  }
}
.loginto-dgtv .dg-sign a {
  color: var(--white-color) !important;
  transition: all 0.5s ease-in;
  text-decoration: underline;
}
.loginto-dgtv .dg-sign a:hover {
  color: var(--primary-color) !important;
}

.loginto-dgtv .dg-sign a:hover {
  color: var(--meta-color);
  transition: all 0.3s ease-in;
}

.loginto-dgtv .form {
  width: 595px !important;
}

@media (max-width: 1199.98px) {
  .loginto-dgtv .form {
    box-shadow: none;
  }
}
@media (max-width: 1199.98px) {
  .loginto-dgtv {
    background: black;
  }
}
.registration-main {
  background: linear-gradient(to bottom, rgba(12, 12, 12, 0.377), rgba(20, 20, 20, 0.644)), url(../images/Banner/formbanner.png);
}

@media (max-width: 767.98px) {
  .registration-main .header {
    background: #353235;
  }
}
@media (max-width: 767.98px) {
  .registration-main {
    background: var(--black-color);
  }
}
.registration-main h4 {
  font-weight: var(--bold);
}

.registration-main p {
  font-weight: var(--bold);
}

.registration-main .form {
  width: 600px;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media (max-width: 767.98px) {
  .registration-main .form {
    padding: 35px 0;
    width: 90%;
  }
}
.registration-main .form-check-input[type=checkbox] {
  padding: 10px;
}

.registration-main .form .form-check p {
  font-size: var(--small-font-size);
  color: var(--description-color);
  font-weight: var(--bold);
}

.registration-main .form .form-check p a {
  color: var(--primary-color);
  text-decoration: underline;
}

.registration-main .form .form-check p span {
  font-size: var(--smaller-font-size);
  font-weight: var(--regular);
}

.home-main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.home-main h1 {
  color: #3b5998;
}

.main-body {
  height: 100%;
  width: 100%;
  margin: 62px auto;
  overflow-y: visible;
}
@media (max-width: 575.98px) {
  .main-body {
    margin-top: -50px;
  }
}

.home-search .modal-content {
  background-color: var(--meta-color);
}

.home-search .modal-content .modal-dialog {
  width: 100%;
}

.home-search .modal-content .modal-body {
  height: 600px;
  padding: 30px 60px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.home-search .modal-content .modal-body input:focus {
  border: none !important;
}

.home-search .modal-content .modal-header {
  border: none;
}

.home-search .modal-content .input-group {
  border-bottom: 3px solid var(--primary-color);
  height: 40px;
}

.home-search .modal-content .input-group input {
  background: var(--meta-color);
  box-shadow: none;
  font-size: var(--normal-font-size);
  font-weight: var(--regular);
}

.home-search .modal-content .input-group svg {
  color: var(--white-color);
}

.home-search .modal-content .input-group .input-group-text {
  background-color: transparent;
  border: none;
}

.video-modal .modal-dialog {
  max-width: 991px;
  height: 800px;
  overflow-x: hidden;
  background-color: var(--meta-color);
}
@media screen and (max-width: 1500px) {
  .video-modal .modal-dialog {
    max-width: 650px;
    height: 600px;
  }
}
@media (max-width: 1399.98px) {
  .video-modal .modal-dialog {
    max-width: 650px;
  }
}
@media (max-width: 991.98px) {
  .video-modal .modal-dialog {
    max-width: 560px;
  }
}

.video-modal .modal-content {
  border: none;
}

.video-modal .modal-body {
  background-color: var(--meta-color);
  padding: 0;
  position: relative;
}
.video-modal .modal-body .vid-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.video-modal .modal-body .vid-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(14, 13, 13, 0), #1d1c1c);
}

.video-modal .modal-body img {
  width: 100%;
  height: 100%;
}

.video-modal .vid-btns {
  padding: 47px 50px;
}
@media (max-width: 575.98px) {
  .video-modal .vid-btns {
    padding: 47px 10px;
  }
}

.video-modal .vid-btns h2 {
  font-weight: var(--bold);
}

.video-modal .vid-btns h6 {
  font-weight: var(--bold);
}

.video-modal .vid-btns .btn {
  width: 100% !important;
  height: 30px;
  margin-bottom: 7px;
  border-radius: 4px;
  font-size: var(--smaller-font-size);
  border: 3px solid var(--primary-color);
  transition: all 0.6s ease;
  width: 250px;
}

.video-modal .vid-btns .btn:hover {
  background-color: var(--white-color);
}

.video-modal .vid-btns .btn2 {
  background-color: var(--white-color);
  color: var(--body-color);
  border-color: var(--white-color);
}

.video-modal .vid-btns .btn2:hover {
  background-color: var(--body-color);
  color: var(--white-color);
  border-color: var(--white-color);
}

.video-modal .video-des {
  border-bottom: 1px solid var(--white-color);
}

.close-vid-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  border-radius: 50%;
  width: 30;
  width: 55px;
  height: 55px;
  background-color: var(--black-color);
}

.video-modal .vid-btns .mt-5 {
  padding-top: 19px;
}
@media (min-width: 768px) {
  .video-modal .vid-btns .mt-5 {
    padding-left: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
.show-main {
  position: absolute;
  position: absolute;
  top: 45px;
  left: 109px;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .show-main {
    display: none;
  }
}

.shows-home {
  width: 500px;
  margin: auto;
  box-sizing: border-box;
}
.shows-home .shows-btn {
  width: 100%;
  justify-content: space-between;
  border-radius: 0px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.644);
  position: relative;
  transition: all 0.2s ease-out;
}
.shows-home .shows-btn:hover {
  background-color: rgba(0, 0, 0, 0.726);
}

.shows-nav {
  max-width: 500px;
  border: 4px solid rgba(0, 0, 0, 0.37);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgba(0, 0, 0, 0.37);
  display: none;
  margin: auto;
  z-index: 999;
  position: relative;
}
.shows-nav ul {
  list-style: none;
  padding: 0;
}
.shows-nav ul li {
  list-style: none;
  padding: 9px;
  position: relative;
}
.shows-nav ul li a {
  color: var(--white-color);
  position: relative;
}
.shows-nav ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: var(--white-color);
  transition: width 0.4s ease;
}
.shows-nav ul li a:hover::before {
  width: 100%;
}

.showf {
  display: flex !important;
}

.btnBorder {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.video-page-main {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  position: relative;
}
@media (max-width: 575.98px) {
  .video-page-main {
    padding-top: 12px;
  }
}

.video-section iframe {
  width: 100%;
  height: 500px;
}
@media (max-width: 767.98px) {
  .video-section iframe {
    height: 350px;
  }
}
.video-section p {
  max-width: 500px;
}

.suggestion-videos .card {
  max-width: 850px;
  background-color: var(--meta-color);
  padding: 20px 15px;
  border-radius: 8px;
  width: 100%;
}
.suggestion-videos .card:hover {
  background-color: #1d1c1ccb;
}
.suggestion-videos .card img {
  width: 100%;
}
@media (min-width: 992px) {
  .suggestion-videos .card img {
    height: 190px;
  }
}
@media (min-width: 992px) {
  .suggestion-videos .card .card-body {
    margin-left: 20px;
  }
}
@media (max-width: 767.98px) {
  .suggestion-videos .card img {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 767.98px) and (min-width: 992px) and (max-width: 1199.98px) {
  .suggestion-videos .card img {
    max-height: 200px;
  }
}
@media (max-width: 767.98px) {
  .suggestion-videos .card .card-body {
    margin-left: 0 !important;
  }
}
.suggestion-videos .card h5 {
  color: var(--white-color);
}
.suggestion-videos .card a {
  color: var(--white-color);
}

.terms-main {
  margin-top: 50px;
  margin-bottom: 100px;
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (max-width: 767.98px) {
  .terms-main {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.terms-main p {
  font-size: var(--small-font-size);
}
.terms-main .terms-area {
  background-color: var(--meta-color);
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
}
@media (max-width: 767.98px) {
  .terms-main .terms-area {
    background: transparent;
  }
}
.terms-main .terms-area h6 {
  font-family: var(--body-font);
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 2rem;
}

.account-main {
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767.98px) {
  .account-main {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.account-area {
  margin-top: 150px;
}
@media (max-width: 767.98px) {
  .account-area {
    margin-top: 20px;
  }
}
.account-area .account-content-area {
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .account-area .account-content-area {
    flex-direction: column;
  }
}
.account-area .account-content-area nav {
  width: 200px;
}
.account-area .account-content-area nav ul {
  list-style: none;
}
.account-area .account-content-area nav ul li a {
  color: var(--white-color);
  font-size: 22px;
  font-weight: var(--bold);
}
.account-area .account-content-area nav ul li a.active {
  position: relative;
}
.account-area .account-content-area nav ul li a.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: red;
  width: 80%;
  height: 2px;
}
.account-area .account-content-area .account-content {
  flex-grow: 1;
  background-color: var(--meta-color);
  padding: 80px 50px;
  border-radius: 20px;
}
.account-area .account-content-area .account-content h3 {
  font-weight: var(--bold) !important;
}
.account-area .account-content-area .account-content div > span {
  font-size: var(--small-font-size);
  color: #5e5d5d;
  margin-right: 10px;
}
.account-area .account-content-area .account-content button {
  font-size: var(--small-font-size);
  border-radius: 4px;
  padding: 6px 15px;
}

.help-main {
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767.98px) {
  .help-main {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.help-area {
  padding-top: 100px;
  padding-bottom: 100px;
}
.help-area .help-head {
  padding: 20px 0;
  text-align: center;
}
.help-area h5 {
  font-family: var(--body-font);
}
.help-area ul {
  padding: 0;
}
.help-area ul li {
  list-style: none;
}
.help-area ul li a {
  color: var(--white-color);
  position: relative;
}
.help-area ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: var(--primary-color);
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}
.help-area ul li a:hover::before {
  width: 100%;
}
.help-area .assistance-sec {
  width: 100%;
  height: 252px;
  background: var(--meta-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
@media (max-width: 991.98px) {
  .help-area .assistance-sec {
    border-radius: 8px;
  }
}
.help-area .assistance-sec p {
  color: #525252;
}
.help-area .assistance-sec h5 {
  font-weight: 400;
}
.help-area .btn {
  font-weight: var(--regular);
  border-radius: 4px;
  width: 160px;
  height: 45px;
  border: 1px solid var(--white-color);
  transition: all 0.3s ease-in-out;
}
.help-area .btn:hover {
  background-color: var(--meta-color);
  color: var(--white-color);
  border-color: var(--primary-color);
}

.contactus-main {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media (max-width: 767.98px) {
  .contactus-main {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contactus-area {
  width: 800px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 991.98px) {
  .contactus-area {
    width: 100%;
  }
}
.contactus-area p {
  padding: 0px 43px;
}
@media (max-width: 991.98px) {
  .contactus-area p {
    padding: 0px 10px;
  }
}

.invoice-main {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.invoice-main .invoice-left {
  background-color: #a40000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 150px;
  padding-top: 0px;
  padding-bottom: 30px;
  position: relative;
}
@media (max-width: 991.98px) {
  .invoice-main .invoice-left {
    height: 60px;
  }
}
@media (max-width: 1199.98px) {
  .invoice-main .invoice-left {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 575.98px) {
  .invoice-main .invoice-left {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.invoice-main .invoice-left .content {
  max-width: 400px;
  margin-left: auto;
}
@media (max-width: 991.98px) {
  .invoice-main .invoice-left .content {
    margin-left: 0;
  }
}
.invoice-main .invoice-left .content .content-up {
  padding: 10px 0;
  font-size: 14px;
  margin-bottom: 15px;
}
@media (max-width: 991.98px) {
  .invoice-main .invoice-left .content .content-up {
    margin-top: 29px;
    margin-bottom: 0;
  }
}
.invoice-main .invoice-left .content .content-up span {
  background: white;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  display: inline-block;
  padding: 1px 8px;
}
.invoice-main .invoice-left .content .content-up span svg {
  fill: rgba(26, 26, 26, 0.5);
}
.invoice-main .invoice-left .content .content-up a {
  font-weight: 400;
  color: #f3f3f3;
  cursor: text;
}
.invoice-main .invoice-left .content .content-up button {
  border-radius: 4px;
  background-color: #fdd393;
  color: var(--primary-color);
  outline: none;
  border: none;
  transition: all 0.5s ease;
  font-size: 11px;
  font-weight: 700;
  cursor: text;
}
.invoice-main .invoice-left .content p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}
.invoice-main .invoice-left .content .content-dol p {
  line-height: 13px;
  margin-left: 5px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 6px;
  font-weight: 500 !important;
}
.invoice-main .invoice-left .content .content-dol h2 {
  font-weight: 600 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.invoice-main .invoice-left .content nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}
.invoice-main .invoice-left .content nav ul .border-right {
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid rgba(236, 234, 227, 0.158);
  color: var(--yellow-light);
}
.invoice-main .invoice-left .content nav ul li > a {
  margin-right: 12px;
  font-size: var(--small-font-size);
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 991.98px) {
  .invoice-mob-none {
    display: none;
  }
}

.invoice-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 72px;
  padding-bottom: 70px;
}
@media (max-width: 1199.98px) {
  .invoice-right {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.invoice-right .content-right {
  width: 400px;
  margin-right: auto;
}
@media (max-width: 575.98px) {
  .invoice-right .content-right {
    max-width: 300px;
  }
}
@media (max-width: 991.98px) {
  .invoice-right .content-right {
    margin-right: 0;
    height: 720px;
  }
}
.invoice-right .invoice-right-up {
  margin-right: auto;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
}
.invoice-right .invoice-right-up .bi-check2-circle {
  fill: green;
  width: 60px;
  height: 60px;
}
.invoice-right .invoice-right-up h5 {
  font-weight: 600 !important;
  color: rgba(26, 26, 26, 0.9);
  line-height: 35px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.invoice-right .invoice-right-up p {
  font-size: var(--small-font-size);
  color: var(--description-color);
  padding-left: 1px;
  padding-right: 1px;
}
.invoice-right .invoice-right-up .box {
  display: flex;
  justify-content: space-around;
  background: white;
  font-size: var(--small-font-size);
  color: var(--description-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}
.invoice-right .invoice-right-up .box .inner-box {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 22px;
}
.invoice-right nav {
  color: rgba(26, 26, 26, 0.5);
  width: 200px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  font-size: var(--small-font-size);
}
@media (min-width: 992px) {
  .invoice-right nav {
    display: none;
  }
}
.invoice-right nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  text-align: center;
  justify-content: center;
}
.invoice-right nav ul li > a {
  margin-right: 12px;
  font-size: var(--smaller-font-size);
  color: rgba(26, 26, 26, 0.5);
}

.invoice-right-down {
  margin-top: 10px;
  margin-right: auto;
  text-align: center;
  padding: 20px 15px;
  border-radius: 8px;
  border: 1px solid silver;
}
.invoice-right-down .invoice-logo {
  width: 100px;
  margin: 0 auto;
  position: relative;
}
.invoice-right-down .invoice-logo .bi-check-circle-fill {
  position: absolute;
  fill: #04d462;
  bottom: -8px;
  right: 16px;
}
.invoice-right-down .invoice-logo .bi-journal-richtext {
  width: 60px;
  height: 60px;
  fill: silver;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.invoice-right-down p {
  margin-top: 20px;
  margin-bottom: 7px;
  font-size: var(--normal-font-size);
  color: var(--desable-color);
  font-weight: 500 !important;
}
.invoice-right-down h3 {
  font-weight: 600 !important;
  color: var(--black-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.invoice-right-down a {
  font-size: var(--normal-font-size);
  color: var(--description-color);
  transition: all 0.4s ease-in;
  font-weight: 500 !important;
}
.invoice-right-down a:hover {
  color: #141414;
}
.invoice-right-down .invoice-details {
  display: flex;
  justify-content: space-between;
}
.invoice-right-down .invoice-details p {
  margin-top: 0;
}
.invoice-right-down .invoice-details span {
  font-size: var(--normal-font-size);
  color: #1a1a1a;
  font-weight: 500;
}
.invoice-right-down .invoice-btns {
  display: flex;
}
.invoice-right-down .invoice-btns button {
  flex-grow: 1;
  border: 1px solid var(--background-color);
  outline: none;
  font-size: var(--normal-font-size);
  border-radius: 4px;
  padding: 3px 7px;
  transition: all 0.3s ease-in;
  font-weight: 500;
}
.invoice-right-down .invoice-btns button:first-child {
  margin-right: 10px;
  background-color: var(--white-color);
}
.invoice-right-down .invoice-btns button:first-child:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}
.invoice-right-down .invoice-btns button:last-child {
  background-color: var(--black-color);
  color: var(--white-color);
}
.invoice-right-down .invoice-btns button:last-child:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}

#offcanvasScrolling3 {
  width: 500px;
  top: 0;
}
@media (max-width: 991.98px) {
  #offcanvasScrolling3 {
    width: 400px;
  }
}
#offcanvasScrolling3 .invoice-summary {
  list-style: none;
  padding-left: 0;
  display: flex;
}
#offcanvasScrolling3 .invoice-summary li {
  text-transform: capitalize;
  font-size: var(--normal-font-size);
}
#offcanvasScrolling3 .invoice-summary li:first-child {
  width: 70px;
}
#offcanvasScrolling3 .invoice-summary .summary-light {
  color: #6d6d6d;
}

.uppercase {
  text-transform: uppercase !important;
}

.invoice-offcavas-date .invoice-offcavas-date-left p {
  color: #949494;
  font-size: var(--normal-font-size);
}
.invoice-offcavas-date .invoice-offcavas-date-left h6 {
  color: #363636;
  font-weight: 500 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.message-offcanvas {
  background-color: white;
  top: 80px;
}
.message-offcanvas .offcanvas-header {
  color: var(--black-color);
}
.message-offcanvas .offcanvas-body {
  color: var(--body-color);
}

.navbar-nav-right .nav-item {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}
.navbar-nav-right .nav-item svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar-nav-right .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.171);
}

.navbar-collapse {
  height: 45px;
}

.main-nav .nav-link,
.main-footer .nav-link {
  color: #ffffff !important;
  transition: all 0.3s ease-in;
}
.main-nav .nav-link:hover,
.main-footer .nav-link:hover {
  color: #d6d6d6 !important;
}

textarea:focus,
input:focus {
  border: 1px solid var(--white-color) !important;
}

textarea:focus,
input {
  box-shadow: none !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff !important;
  text-decoration: none;
  background-color: #b30e0e;
}

.slyder-area .swiper-slide:hover {
  cursor: pointer !important;
  position: relative;
}
.slyder-area .swiper-slide:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 26, 255, 0.116);
  z-index: 1;
  border-radius: 8px;
  transition: all 0.6s ease;
}

.favorites-main {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.register-main {
  background: linear-gradient(to bottom, rgba(253, 253, 253, 0.705), rgba(255, 255, 255, 0.829)), url(../images/Banner/formbanner.png);
}

.register-area {
  max-width: 800px;
  margin: 0 auto;
}
.register-area h1 {
  color: var(--black-color);
  padding-top: 30px !important;
}
.register-area .btn {
  border-radius: 4px !important;
}
.register-area .btn:hover {
  background-color: #7c0909;
}

.register-area-con {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.register-area-con div {
  width: 130px;
  height: 161px;
  background-color: white;
  margin-left: 5px;
}
.register-area-con div img,
.register-area-con div svg {
  width: 100%;
  height: 100%;
}

.rech-2 {
  border-top: 1px solid var(--black-color);
}

.register-check {
  border-bottom: 1px solid var(--black-color);
}
.register-check svg,
.register-check b {
  color: var(--black-color) !important;
  font-size: var(--smaller-font-size);
}

.extra-space {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}

.verify-pass input[type=text] {
  height: 45px;
  width: 45px;
  font-size: 25px;
  text-align: center;
  border: 1px solid #000000;
}
.verify-pass input[type=text]::-webkit-inner-spin-button,
.verify-pass input[type=text]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.check-pare-down {
  color: var(--white-color);
}
.check-pare-down a {
  color: var(--primary-color) !important;
}
.check-pare-down a:hover {
  color: #8d0a0a !important;
}

.popup-terms-btn {
  position: absolute;
  position: absolute;
  top: 23px;
  right: 24px;
  border-radius: 50%;
  width: 54px;
  height: 54px;
}

.popup-terms-main {
  margin-top: 0;
  margin-bottom: 0;
}

.log-con-pri:hover {
  color: var(--white-color) !important;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
